<link rel="stylesheet" href="/css/review_card.css">

<div id="reviewModal" class="modal">
    <form class="modal-content" onsubmit="submitReview(event)">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Give a Review</h2>
        <textarea name="reviewText" id="review_field" placeholder="Enter your review..." required></textarea>
        <button type="submit" class="submit-btn">Submit Review</button>
    </form>
</div>

<script src="/js/review_card.js"></script>